/* FONTS */

@font-face {
    font-family: Light;
    src: url("../resources/fonts/light.otf");
}
@font-face {
    font-family: Regular;
    src: url("../resources/fonts/regular.otf");
}
@font-face {
    font-family: Medium;
    src: url("../resources/fonts/medium.otf");
}

@font-face {
    font-family: Roboto;
    src: url("../resources/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: RobotoItalic;
    src: url("../resources/fonts/Roboto-LightItalic.ttf");
}



/* BODY */

body {
    position: relative;
    overflow-x: hidden;
    background-color: #101010;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.bluebutton{
    background-color: #008aff;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-family: Medium;
    font-size: 1.75rem;
    width: fit-content;
    padding: 20px 30px;
    margin-top: 20px;
    border-radius: 40px;
    transition: all 0.25s linear;

    -webkit-box-shadow:0px 0px 60px 5px rgba(0,136,255,0.69);
    -moz-box-shadow: 0px 0px 60px 5px rgba(0,136,255,0.69);
    box-shadow: 0px 0px 60px 5px rgba(0,136,255,0.69);
}

.bluebutton:hover{
    scale: 1.01;
    -webkit-box-shadow:0px 0px 81px 5px rgba(0,136,255,0.69);
    -moz-box-shadow: 0px 0px 81px 5px rgba(0,136,255,0.69);
    box-shadow: 0px 0px 81px 5px rgba(0,136,255,0.69);
}

.bluebuttonP{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #5b5b5b !important;
    font-size: .85rem !important;
    font-family: Regular;
}

.bluebuttonP img{
    height: 1.1rem !important;
    width: auto !important;
    margin-right: 5px;
}

/* LANDING PAGE */
#landing-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    padding: 60px 0 0 0;
}

/* LOGO */

#logo {
    position: absolute;
    top: 40px;
    left: 40px;
    height: 45px;
    width: 82px;
    transition: all 0.25s linear;
}

#logo:hover{
    scale: 1.05;
}

#logo img {
    height: 100%;
    width: 100%;
}

/* TITLE */
.title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 20px;
    margin-bottom: 2.5vh;
}


.title-break {
    display: none;
}

.title h1 {
    color: #ffffff;
    font-family: Medium;
    font-size: 3.15rem;
    text-align: center;
    line-height: 1.1;
}

.title h1 .TitleRed {
    color: #e92e2e;
}

.title h1 .TitleUnderline {
    position: relative;
}

.title h1 .TitleUnderline::after{
    background-image: url("../resources/imgs/TitleUnderline.png");
    width: 95%;
    height: 20px;
    right: 10px;
    bottom: -20px;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    content: "";
}


.title h2 {
    color: #ffffff;
    font-family: Light;
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
    width: fit-content;
    padding: 30px 20px 10px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    line-height: 1;
}

.title h2 img{
    margin-right: 10px;
    height: 1.25rem;
}


/* VIDEO */
.video {
    position: relative;
    width: 55rem;
}

.video::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 190%;
    height: 110%;
    background: radial-gradient(circle, rgba(13, 164, 252, 0.6) 0%, rgba(0, 162, 255, 0) 70%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    filter: blur(50px);
    z-index: 0;
}

.video img{
    width: 100%;
}


/* SUBTEXT LP */
.landingpageSubtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 50px 0px;
}

.landingpageSubtext h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-size: 1.75rem;
    font-family: Medium;
    margin-bottom: 10px;
}

.landingpageSubtext h1 img{
    height: 1.75rem;
}

.landingpageSubtext .link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-size: 1.5rem;
    font-family: Regular;
    text-decoration: none;
    transition: all 0.25s linear;
}

.landingpageSubtext .link:hover{
    scale: 1.01;
}

.landingpageSubtext .link img{
    height: 1.75rem;
}

.quoteBoxMatous {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.quoteBoxMatous section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.quoteBoxMatous .MatousStars {
    width: 140px;
}
.quoteBoxMatous .Matous {
    width: 65px;
}

.quoteBoxMatous p {
    color: #ffffff;
    font-size: 1.25rem;
    font-family: Light;
    font-weight: 500;
    text-align: center;
}

.quoteBoxMatous .quote {
    font-family: "Asap";
    font-weight: 200;
    font-style: italic;
}

.MatousName {
    position: relative;
    top: -10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #5b5b5b !important;
    font-size: .85rem !important;
    font-family: Regular !important;
}

.MatousName img {
    height: 1.1rem !important;
    width: auto !important;
    margin-right: 5px;
}



.Isthisyou {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    background-color: #242a42;
}

.Isthisyou h1 {
    gap: 10px;
    color: #ffffff;
    font-size: 3rem;
    font-family: Medium;
    margin-bottom: 10px;
    text-align: center;
}

.Isthisyou .p-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.Isthisyou p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-size: 1.25rem;
    font-family: Regular;
    text-decoration: none;
    transition: all 0.25s linear;
}

.Isthisyou p img {
    height: 1.5rem;
}

.Isthisyou .lastP {
    margin-top: 20px;
}


/* HERO HERO USERS */

#HeroHeroUsers{
    height: auto;
    background-color: #242a42;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0px 0px 0px;
    gap: 25px;
}

#HeroHeroUsers .stars{
    width: 210px;
}

#HeroHeroUsers .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Medium;
    font-size: 3rem;
    color: #fff;
    margin: 0;
    position: relative;
    top: -5px;
}

#HeroHeroUsers .title img {
    height: 3rem;
}

#HeroHeroVideos{
    position: relative;
    top: -10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    gap: 80px;
}

.HeroHeroVideo{
    width: 220px;
}

#HeroHeroUsers .feedbacks{
    width: 1000px;
    padding-bottom: 50px;
}


/* Community Perks */

#CommunityPerks{
    height: auto;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    position: relative;
}

.PerksImg{
    width: 1500px;
    padding-top: 150px;

}

.CommunityTitle {
    position: absolute !important;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    top: 50px;
}

.PerksTitle{
    text-align: center;
    top: 70px;
    font-family: Medium;
    font-size: 3rem;
    color: #fff;
    margin: 0;
}

.PerksTitle span{
    color: #ffba00;
}

#CommunityPerks p {
    gap: 10px;
    color: #ffffff;
    font-size: 1.5rem;
    font-family: Regular;
    text-decoration: none;
    transition: all 0.25s linear;
    text-align: center;
    line-height: 1.1;
}

#CommunityPerks p span {
    position: relative;
}

#CommunityPerks p span::after {
    background-image: url("../resources/imgs/TitleUnderline.png");
    width: 95%;
    height: 20px;
    right: 10px;
    bottom: -20px;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    content: "";
}

.PerksTitle img {
    position: relative;
    height: 3rem;
    top: 10px;
}

.perks {
    position: relative;
    display: flex;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.perks .perk {
    width: 630px;
    height: 55px;
    background-color: #2a2a2a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    border-radius: 15px;
    padding: 0px 25px;
    -webkit-box-shadow: 2.5px 5px 2.5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2.5px 5px 2.5px 0px rgba(0,0,0,0.75);
    box-shadow: 2.5px 5px 2.5px 0px rgba(0,0,0,0.75);
    transition: all .25s linear;
    cursor: default;
}

.perks .perk:hover {
    scale: 1.01;
}

.perks .perk img{
    width: 40px;
}
.perks .perk p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-size: 1.25rem;
    font-family: Regular;
    font-weight: 100;
    text-decoration: none;
    transition: all 0.25s linear;
}

.PerksButton{
    width: 250px;
    background-color: #008aff;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-family: Medium;
    font-size: 1.75rem;
    padding: 20px;
    margin-top: 20px;
    border-radius: 40px;
    transition: all 0.25s linear;

    -webkit-box-shadow:0px 0px 60px 5px rgba(0,136,255,0.69);
    -moz-box-shadow: 0px 0px 60px 5px rgba(0,136,255,0.69);
    box-shadow: 0px 0px 60px 5px rgba(0,136,255,0.69);
}

.PerksButton:hover{
    scale: 1.01;
    -webkit-box-shadow:0px 0px 81px 5px rgba(0,136,255,0.69);
    -moz-box-shadow: 0px 0px 81px 5px rgba(0,136,255,0.69);
    box-shadow: 0px 0px 81px 5px rgba(0,136,255,0.69);
}

.PerksP{
    position: relative;
    top: -10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #5b5b5b;
    font-size: .85rem;
    font-family: Regular;
}

.PerksP img{
    height: 1.1rem;
}


/* Warranty */
#warranty{
    height: auto;
    width: 100vw;
    background-color: #252a41;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    text-align: center;
    padding: 50px 0px;
}

#warranty h1{
    font-family: Medium;
    font-size: 3rem;
    line-height: 1.1;
}

#warranty h1 span{
    color: #50f347;
}

#warranty p{
    font-family: Light;
    font-weight: 500;
    font-size: 1.5rem;
}


#warranty h2{
    font-family: Regular;
    font-weight: 500;
    font-size: 1.75rem;
}

#warranty h2 span{
    position: relative;
}

#warranty h2 span::after{
    background-image: url("../resources/imgs/underlineGreen.png");
    width: 95%;
    height: 20px;
    right: 10px;
    bottom: -15px;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    content: "";
}

#warranty img {
    width: 500px;
}


/* savemoney */
#savemoney{
    position: relative;
    height: auto;
    background-color: #101010;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    text-align: center;
    padding: 25px 0px 50px 0px;
}

#arrow-text{
    position: absolute;
    top: 300px;
    right: 23%;
    color: #FFA500;
    font-weight: bold;
    text-align: center;
    transform: rotate(15deg);
}

#arrow-text p {
    font-family: Asap;
    width: auto !important; 
    text-align: center !important;
    font-size: 1.25rem !important;
}

#arrow-text img {
    position: relative;
    margin-top: 10px;
    width: 60px !important;
    left: -20px;
    transform: scaleX(-1) rotate(15deg);
}



#savemoney h1{
    position: relative;
    top: 25px;
    font-family: Medium;
    font-size: 3rem;
    line-height: 1.1;
}

#savemoney h1 img {
    position: relative;
    top: 10px;
    height: 3rem;
    width: 3rem;
}

#savemoney h1 span{
    color:#ffba00 ;
}

#savemoney h2{
    font-family: Regular;
    font-weight: 500;
    font-size: 1.75rem;
    position: relative;
    z-index: 1;
    padding: 10px;
}


#savemoney h2 span {
    position: relative;
}
#savemoney h2 span::after{
    background-image: url("../resources/imgs/TitleUnderline.png");
    width: 95%;
    height: 20px;
    right: 10px;
    bottom: -30px;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    content: "";
}



#savemoney img {
    width: 800px;
}

.PS{
    font-family: Medium;
    font-size: 5rem;
    color: #ffba00;
    position: relative;
    top: 25px;
}

#savemoney p{
    font-size: 1.5rem;
    text-align: left;
    font-family: Light;
    line-height: 1.25;
    width: 750px;
}

.warren {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.warren img {
    width: 110px !important;
}

.warren h1 {
    position: relative;
    font-family: RobotoItalic !important;
    font-size: 1.5rem !important;
    padding-bottom: 40px;
}

.warren h1::before {
    content: "";
    position: absolute;
    top: -30px;
    left: -50px;
    width: 40px;
    height: 40px; 
    background-image: url("../resources/imgs/Uvozovky.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.warren h1::after {
    content: "";
    position: absolute;
    right: -40px;
    top: 40px;
    width: 40px;
    height: 40px; 
    transform: scaleX(-1) scaleY(-1);
    background-image: url("../resources/imgs/Uvozovky.png");
    background-size: contain;
    background-repeat: no-repeat;
}


.warren h3 {
    font-family: Roboto !important;
    font-size: 1rem !important;
    background-color: none;
    font-weight: 100;
    color: #4d4d4d;
}

#savemoney .blue{
    background-color: #22549f;
    position: relative;
    left: -5px;
    padding: 0px 5px;
}

#savemoney .greenBG{
    background-color: #229f25;
    position: relative;
    left: -5px;
    padding: 0px 5px;
}

#savemoney .redBG{
    background-color: #9f2222;
    position: relative;
    left: -5px;
    padding: 0px 5px;
}

#savemoney .yellowBG{
    background-color: #9f7a22;
    position: relative;
    left: -5px;
    padding: 0px 5px;
}


#savemoney .blue2{
    background-color: #22549f;
    padding: 0px 5px;
    position: relative;
}

#savemoney .yellow{
    color: #ffde00;
}

#savemoney .green{
    color: #50f347;
}

#savemoney .PSred{
    background-color: #9f2222;
}

#savemoney .blueUnderline{
    border-bottom: 3px solid #24549c;

}

.number-container {
    display: flex;
    align-items: center;
    color: #7a6939; /* Adjust to match the color */
    font-size: 5rem;
    font-weight: bold;
    position: relative;
    font-family: Regular;
}

.number-container::before,
.number-container::after {
    content: "";
    flex-grow: 1;
    height: 2px;
    width: 300px;
    background-color: #7a6939; /* Adjust to match the color */
    margin: 0 20px;
}

#savemoney .reference {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#savemoney .reference img{
    width: 550px;
}

#savemoney .stats {
    width: 500px;
}

#savemoney .EmailSchool{
    width: 300px !important;
}

#savemoney .AntoninReference{
    width: 650px !important;
}

#savemoney .growth {
    width: 600px !important;
}

#savemoney .quote {
    width: 600px !important;
}

#savemoney p .pDots{
    position: relative;
    left: 25px;
    line-height: 1.75;
    white-space: nowrap;
}

#savemoney p .lighter{
    font-weight: 100;
}

#savemoney p .pDotsBlue{
    position: relative;
    left: 25px;
    line-height: 1.75;
    white-space: nowrap;
}

#savemoney p .pDotsBlue::before{
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #008aff;
}


#savemoney p .pDots::before{
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #dc1c1ced;
}

.firstbook{
    position: relative;
}

.firstbook .arrow{
    width: 300px;
}

.firstbook .arrow .circle{
    width: 125px !important;
    position: absolute;
    right: -25px;
    top:-30%;
}

.firstbook .arrow .arrow2{
    position: absolute;
    right: -110px;
    top:-20%;
    transform: scaleX(-1) rotate(5deg);
    width: 75px !important;
}

.firstbook .arrow p{
    font-family: Asap !important;
    font-size: 1rem !important;
    color: #ffba00;
    position: absolute;
    right: -180px;
    top: -40px;
    transform: rotate(10deg);
    width: auto !important;
}

.arrow3 {
    position: absolute;
    bottom: 150px;
    left: 0px;
    width: 100px !important;
    transform: rotate(-70deg) scaleX(-1);
}

.arrow3 img {
    width: 100% !important;
}

.button5{
    position: relative;
}

.button5::after{
    content: "";
    position: absolute;
    top: -150px;
    right: 70px;
    width: 140px;
    height: 140px; 
    transform: scaleX(-1) rotate(80deg);
    background-image: url("../resources/imgs/arrow2.webp");
    background-size: contain;
    background-repeat: no-repeat;
}

#FAQ{
    position: relative;
    height: auto;
    background-color: #101010;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    text-align: center;
    padding: 30px 0px 50px 0px;
}

#FAQ::after{
    content: "";
    position: relative;
    bottom: 0;
    left: 0;
    width: 1000px;
    height: 3px;
    background-color: #2a2a2a;
}

.FAQtitle h5{
    font-size: 4rem;
    color: #fff;
    font-family: Medium;
}
.FAQtitle h6{
    padding-top: 15px;
    font-size: 1.5rem;
    color: #70b3ec;
    font-family: Regular;
}

.FAQQuestions{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq-item {
    background: #2a2a2a;
    margin-bottom: 10px;
    border-radius: 20px;
    -webkit-box-shadow: 2.5px 5px 2.5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2.5px 5px 2.5px 0px rgba(0,0,0,0.75);
    box-shadow: 2.5px 5px 2.5px 0px rgba(0,0,0,0.75);
    overflow: hidden;
    width: 650px;
    font-family: Regular;
    color: #fff;
    font-size: 1.25rem;
}
.faq-question {
    background: #2a2a2a;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s;
    letter-spacing: .5px;
    height: 45px;
}

.faq-answer {
    font-family: Light;
    line-height: 1.25;
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.3s ease-out, padding 0.3s ease-out;
    text-align: left;
}
.faq-item.active .faq-answer {
    opacity: 1;
    padding: 0px 15px 25px 15px;
}
.faq-question span {
    color: #008aff;
    font-family: Roboto;
    font-weight: 100;
    display: inline-block;
    font-size: 2rem;
    transition: transform 0.25s;
}
.faq-item.active .faq-question span {
    transform: rotate(45deg);
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 ;
}

footer img {
    width: 125px;
    transition: all .5s linear;
}

footer img:hover{
    scale: 1.03;
}

footer p{
    padding: 25px 0;
    font-family: Light;
    font-size: 1rem;
    color: #fff;
}

.GPDR {
    font-family: "Light";
    color: #777777;
    text-decoration: none;
    font-size: .75rem;
    z-index: 999;
}